parameters:
	fileExtensions:
		- php
		- dist
	reportUnmatchedIgnoredErrors: true
	ignoreErrors:
		- '#Call to an undefined method Soluble\\Japha\\Interfaces\\JavaClass#'
		- '#Call to an undefined method Soluble\\Japha\\Interfaces\\JavaObject#'
