includes:
    - vendor/thecodingmachine/phpstan-strict-rules/phpstan-strict-rules.neon
parameters:
	fileExtensions:
		- php
		- dist
	reportUnmatchedIgnoredErrors: true
	ignoreErrors:
		- '#Call to an undefined method Soluble\\Japha\\Interfaces\\JavaClass#'
		- '#Call to an undefined method Soluble\\Japha\\Interfaces\\JavaObject#'
		- '#Access to an undefined property Soluble\\Japha\\Interfaces\\JavaClass#'
