<phpunit bootstrap="./vendor/autoload.php"
             backupGlobals="false"
             backupStaticAttributes="false"
             colors="true"
             verbose="true"
             convertErrorsToExceptions="true"
             convertNoticesToExceptions="true"
             convertWarningsToExceptions="true"
             processIsolation="false"
             stopOnFailure="false">


    <testsuites>
        <testsuite name="jasper">
            <directory>./tests/JasperTest</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>

    <php>

        <!--
        PHPJavaBridge servlet url
        -->
        <server name="JAVABRIDGE_URL" value="http://127.0.0.1:8080/JasperReports/servlet.phpjavabridge" />
        <!--
        <server name="JAVABRIDGE_URL" value="http://127.0.0.1:8083/servlet.phpjavabridge" />
        -->

        <!--
        ##########################################################################
        # Configure mysql datasource tests                                       #
        ##########################################################################
        -->

        <server name="ENABLE_MYSQL_JDBC_TESTS" value="false" />

        <server name="MYSQL_DRIVER" value="Mysqli" />
        <server name="MYSQL_HOSTNAME" value="127.0.0.1" />
        <server name="MYSQL_USERNAME" value="root" />
        <server name="MYSQL_PASSWORD" value="" />
        <server name="MYSQL_DATABASE" value="phpunit_soluble_test_db" />

    </php>


    <logging>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
        <!--
        <log type="tap" target="build/report.tap"/>
        <log type="junit" target="build/report.junit.xml"/>
        <log type="coverage-html" target="build/coverage" charset="UTF-8" yui="true" highlight="true"/>
        <log type="coverage-text" target="build/coverage.txt"/>
        -->
    </logging>

</phpunit>
