parameters:
	fileExtensions:
		- php
		- dist
	reportUnmatchedIgnoredErrors: true
	ignoreErrors:
		#- '#Class Zend\\Expressive\\Middleware\\RouteMiddleware not found#'
		#- '#Class Zend\\Expressive\\Middleware\\DispatchMiddleware not found#'
